# Dependencias
node_modules/
dist/
.DS_Store

# Secretos y Configuración
.env
*.db
*.db-journal
routefleet.json

# Logs y Temporales
npm-debug.log*
yarn-debug.log*
yarn-error.log*
uploads/
pods/
.tempmediaStorage/
/scratch/
